body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

/* @media (max-width: 992px) {
  .bg-image.justify-content-center.align-items-center {
    width:900px;
  }
} */


.bg-image {
  height: 100%;
  width:auto;
  background-size:contain;
  object-position: center;

}

.body .container {
  height:50vh;
  width:auto;
  
}