{% extends 'base.html' %}
{% block content %}


<h1>Amazing Things List</h1>
{% for amazingthing in amazingthings %}
  <div class="card">
      <a href="{% url 'detail' amazingthing.id %}">
      <div class="card-content">
      <span style="color:green" class="card-title">{{ amazingthing.name }}</span>
      <h6>Location: {{ amazingthing.location }}</h6>
      <p><strong>How many years has it been there? </strong> {{ amazingthing.age }}</p>
      <p><strong>What is it?</strong> {{ amazingthing.description }}</p>
      {% if amazingthing.age > 0 %}
      {% else %}
        <p><strong>Age:</strong> Unknown</p>
      {% endif %}
    </div>
   </a>
  </div>
{% endfor %}

{% endblock %}